 {
      font-family: Georgia, 'Times New Roman', Times, serif;
  
 }

 header{
  background-color: blue;
 }


h1{
  font-size: 14px;
  color: white;
}
h2{
 color: beige;
}
h3{
 color: beige;
}
h4{
    h4
}